.home-bg {
    /* border: 1px solid red; */
    background-image: url(/assets/image/jawa-2.jpg);
    height: 100vh; 
    background-position: center; 
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;

}

.text-wedding {
    /* border: 1px solid red; */
    margin-top: 10px;
    font-family: "Sacramento", Arial, serif;
   
}
.text-wedding p {
    /* border: 1px solid green; */
   
    font-size: 34px !important;
    color: #F14E95 !important
}
.text-wedding h3 {
    /* border: 1px solid green; */
    /* margin-top: -20px; */
    font-size: 40px !important;
    color: #F14E95 !important;
    font-weight: 600;
    
}




/* mode hp */
@media (max-width: 768px) { 
    .home-bg {
    /* height: 100vh; */
    width: 100% !important;
      /* border: 1px solid green; */
      background:url("/assets/image/jawa-figma.png") no-repeat;
      background-size: cover;
     
    
    }

    .text-wedding {
 
        margin-top: 10px;
   
        font-family: 'Fira Code', monospace;
       
    }
    .text-wedding p {
   
        font-size: 30px !important;     
        color: #000 !important;

        font-family: 'Fira Code', monospace;
      
    }
    .text-wedding h3 {
        font-size: 40px !important;
        color: #000 !important;
        font-weight: 600;
        position: relative;

        font-family: 'Fira Code', monospace;
        
    }

    .garis {
        margin-bottom: 20px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 50%;
    }
    p.tanggal {
        font-size: 20px !important;
        color: #000 !important;
        font-weight: bold;
       
        font-family: 'Fira Code', monospace;
       
    }

    .link-open a {
      
        padding: 13px 20px;
        background-color: #000;
        color: aliceblue;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
        
    }





    .bg-cover {
        background-attachment: static;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .nama {
        /* border: 1px solid red; */
        margin-top: 60vh;
    }

    h4.intial {
        color: #fff ;
        letter-spacing: 2px !important;
        font-family: 'Fira Code', monospace;
        font-weight: bold;
        font-size: 30px;
    }

    hr.garis-nama {
        /* color: #fff; */
        border: 1px solid #fff;
        width: 70%;
    }

    .bagian {
        color: white;
        font-family: 'Fira Code', monospace;
        font-size: 17px;
        text-shadow: 2px 2px #000;
       
    }

    .simply-countdown {
        /* coutndown blocks */
        display: inline-block;
        width: 65px;
        height: 65px;
        background: rgba(241, 78, 149, 0.8);
        /* margin: 0 4px; */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        /* position: relative; */
        animation: pulse 1s ease infinite;
    
        color: #fff !important;
        font-size: 13px;
        font-weight: bold;
        text-align: center;

        
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }

      .simply-countdown span {
       font-size: 25px;
        /* padding-top: 30px !important; */

      }



/* content -page */
      .content-page {
        margin-top: -36px;
        /* border: 1px solid red; */
        background-color: #777;
      }

      .ass {
        margin-top: 20px;
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-family: 'Fira Code', monospace;
      }
      .sambutan {
        margin-top: 20px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        font-family: 'Fira Code', monospace;
      }

      .img-fluid {
        width: 280px;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(129, 123, 123, 0.993);
      }

      h3.name {
        /* border: 1px solid red; */
        margin-top: 20px;
        color: #fff;
        font-size: 20px;
        font-family: 'Fira Code', monospace;
      }

      p.anak {
        /* border: 1px solid red; */
        color: #fff;
        font-size: 13px;
        font-family: 'Fira Code', monospace;
      }
    

      .love-story {
        background-color: #cebba2;
      }

      .love {
        /* border: 1px solid red; */
        color: rgb(231, 93, 116);
        font-size: 25px;
        font-family: 'Fira Code', monospace;
      }

      p.moment {
        color: #000;
        font-size: 25px;
        font-family: 'Fira Code', monospace;
        margin-top: 50px;
      }

      .span-moment {
        color: rgb(231, 93, 116);
        font-size: 25px;
        font-family: 'Fira Code', monospace;
      }
/* 
      .bridge-moment {
        border: 1px solid red;
        height: 250px !important;
        width: 235px;
        
      } */

      .bride-atas img {
        /* border: 1px solid red; */
        margin-top: -65px;
        height: 230px;
      }


      .content-acara {
        /* background-color: #777; */
        margin-top: -60px;
      }

      .acara {
        color: #000;
        font-size: 25px;
        font-family: 'Fira Code', monospace;
      }

      .akad {
        margin-top: 20px;
        color: #000;
        font-size: 25px;
        font-family: 'Fira Code', monospace;
      }

      .jadwal {
        color: #000;
        font-size: 15px;
        font-family: 'Fira Code', monospace;
      }

      .maps-add {
        margin-top: 30px;
        margin-bottom: 20px;
        color: #000;
        font-size: 25px;
        font-family: 'Fira Code', monospace;
      }

      /* .slider-column {
        border: 1px solid red;
        height: ;
      } */

      /* .swiper-wrapper img {
     width: 320px;
     height: 213px;
      } */


      /* .swiper button-next::after button-prev::after {
       
         
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.75rem;
          font-weight: 800;
          padding: 1rem;
          width: 2rem;
          height: 2rem;
          opacity: 0.75;
          border-radius: 50%;
          color: white;
          background: black;
        }
       */

       .swiper-button-next::after {
        /* border: 1px solid red !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: 800;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        opacity: 0.75;
        border-radius: 50%;
        color: white;
        background: black; */
       } 

       /* .swiper-button-next {
        background-image: url(/assets/image/left.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        width: 20px;
      }
       */
      .swiper-button-next::after {
        display: none;
      }
      .swiper-button-prev::after {
        display: none;
      }

       /* .swiper-button-prev {
        border: 1px solid green;
        width: 20px !important;
        height: 20px !important;
       }
       */

      
}